<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/github.css" />
    <script type="text/javascript" src="/js/Utils.js"></script>
    <title>ggarciao.COM</title>
  </head>
  <body class="blog">
      <div class="bar top">
        <div class="blog-navigator">
            {% if page.previous %}
              <a class="previous nav small" href="{{page.previous.permalink}}">Prev</a>
            {% endif %}
            <span class="title-medium center"><a class="nav big" href="/blog/content/cat/">ggarciao.COM/blog</a></span>
            {% if page.next %}
              <a class="next nav small" href="{{page.next.permalink}}">Next</a>
            {% endif %}
        </div>
      </div>
      